.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.tab-icon {
  margin-right: 8px;
}

.card {
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-subtitle,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button-center {
  display: flex;
  justify-content: center;
}
