<app-header></app-header>
<div class="card">
  <mat-card>
    <!-- -------------------------------- TITLE -------------------------------- -->
    <mat-card-title>Login</mat-card-title>
    <!-- -------------------------------- END TITLE -------------------------------- -->
    <!-- -------------------------------- IMAGE -------------------------------- -->
    <mat-card-subtitle>
      <img mat-card-lg-image src="../assets/Logo.png" alt="" />
    </mat-card-subtitle>
    <!-- ------------------------------ END IMAGE ------------------------------ -->
    <mat-card-content>
      <form (ngSubmit)="searchAddressesByEmailAndPassword()">
        <!-- -------------------------------- EMAIL -------------------------------- -->
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              type="email"
              id="email"
              name="email"
              matInput
              required
              [(ngModel)]="email"
              placeholder="name@example.com"
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </p>
        <!-- ------------------------------ END EMAIL ------------------------------ -->
        <!-- ------------------------------ PASSWORD ------------------------------- -->
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              id="password"
              name="password"
              matInput
              required
              [(ngModel)]="password"
              placeholder="Password"
            />
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </p>
        <!-- ---------------------------- END PASSWORD ----------------------------- -->
        <!-- ------------------------------- BUTTON -------------------------------- -->
        <div class="button-center">
          <button mat-stroked-button color="primary" type="submit">
            Sign In
          </button>
        </div>
        <!-- ------------------------------- END BUTTON -------------------------------- -->
      </form>
    </mat-card-content>
  </mat-card>
</div>
