<mat-toolbar class="mat-elevation-z8 toolbar" color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Wheel Manager
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="color-back">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
